In [479]:
import tensorflow as tf
from tensorflow.keras.datasets import mnist
from tensorflow.keras.models import load_model, Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.utils import to_categorical, plot_model

import matplotlib.pyplot as plt
import numpy as np

In [481]:
# Dosyaları yükle
train_data = pd.read_csv('./train.csv')
test_data = pd.read_csv('./test.csv')
sample_submission = pd.read_csv('./sample_submission.csv')

In [484]:
train_df.head()

,id,value_increased,Ability,Potential,Positions,Caps / Goals,Foot,Height,Weight,Aerial Reach,...,Dribbling,Finishing,Free Kick Taking,Heading,Long Shots,Long Throws,Marking,Penalty Taking,Tackling,Technique
0,74044,False,46.0,NaN,AMC,NaN,Right,178 CM,72 KG,NaN,...,45.0,35.0,35.0,30.0,35.0,40.0,40.0,25.0,45.0,50.0
1,83969,False,48.0,NaN,GK,NaN,Right,185 CM,82 KG,55.0,...,NaN,NaN,35.0,NaN,NaN,NaN,NaN,15.0,NaN,55.0
2,94664,False,58.0,NaN,DL DC,NaN,Left,185 CM,80 KG,NaN,...,40.0,30.0,15.0,65.0,35.0,50.0,55.0,55.0,70.0,45.0
3,46208,True,38.0,NaN,DC,NaN,Right,185 CM,74 KG,NaN,...,15.0,10.0,20.0,70.0,10.0,35.0,70.0,20.0,55.0,10.0
4,77969,False,47.0,NaN,GK,NaN,Right,193 CM,73 KG,35.0,...,NaN,NaN,40.0,NaN,NaN,NaN,NaN,15.0,NaN,15.0

In [486]:
train_data.isnull().sum()

id                          0
value_increased             0
Ability                     0
Potential                 422
Positions                   0
Caps / Goals              449
Foot                        0
Height                      0
Weight                      0
Aerial Reach              433
Command of Area           433
Communication             433
Eccentricity              433
First Touch                 0
Handling                  433
Kicking                   433
One on Ones               433
Passing                     0
Punching (Tendency)       433
Reflexes                  433
Rushing Out (Tendency)    433
Throwing                  433
Aggression                  0
Anticipation                0
Bravery                     0
Composure                   0
Concentration               0
Decisions                   0
Determination               0
Flair                       0
Leadership                  0
Off the Ball                0
Positioning                 0
Teamwork                    0
Vision                      0
Work Rate                   0
Acceleration                0
Agility                     0
Balance                     0
Jumping Reach               0
Natural Fitness             0
Pace                        0
Stamina                     0
Strength                    0
Corners                    32
Crossing                   32
Dribbling                  32
Finishing                  32
Free Kick Taking            0
Heading                    32
Long Shots                 32
Long Throws                32
Marking                    32
Penalty Taking              0
Tackling                   32
Technique                   0
dtype: int64

In [488]:
train_data.shape

(465, 56)

In [490]:
# 'value_increased' sütununu sayısal değerlere dönüştürme (True -> 1, False -> 0)
train_data['value_increased'] = train_data['value_increased'].apply(lambda x: 1 if x == True else 0)


print(train_data['value_increased'].head())

0    0
1    0
2    0
3    1
4    0
Name: value_increased, dtype: int64

In [492]:
train_data.head()

,id,value_increased,Ability,Potential,Positions,Caps / Goals,Foot,Height,Weight,Aerial Reach,...,Dribbling,Finishing,Free Kick Taking,Heading,Long Shots,Long Throws,Marking,Penalty Taking,Tackling,Technique
0,74044,0,46.0,NaN,AMC,NaN,Right,178 CM,72 KG,NaN,...,45.0,35.0,35.0,30.0,35.0,40.0,40.0,25.0,45.0,50.0
1,83969,0,48.0,NaN,GK,NaN,Right,185 CM,82 KG,55.0,...,NaN,NaN,35.0,NaN,NaN,NaN,NaN,15.0,NaN,55.0
2,94664,0,58.0,NaN,DL DC,NaN,Left,185 CM,80 KG,NaN,...,40.0,30.0,15.0,65.0,35.0,50.0,55.0,55.0,70.0,45.0
3,46208,1,38.0,NaN,DC,NaN,Right,185 CM,74 KG,NaN,...,15.0,10.0,20.0,70.0,10.0,35.0,70.0,20.0,55.0,10.0
4,77969,0,47.0,NaN,GK,NaN,Right,193 CM,73 KG,35.0,...,NaN,NaN,40.0,NaN,NaN,NaN,NaN,15.0,NaN,15.0

In [494]:
# 'Foot' sütununu sayısal değerlere dönüştürme (Right -> 1, Left -> 0)
train_data['Foot'] = train_data['Foot'].apply(lambda x: 1 if x == 'Right' else 0)


print(train_data['Foot'].head())

0    1
1    1
2    0
3    1
4    1
Name: Foot, dtype: int64

In [496]:
train_data.head()

,id,value_increased,Ability,Potential,Positions,Caps / Goals,Foot,Height,Weight,Aerial Reach,...,Dribbling,Finishing,Free Kick Taking,Heading,Long Shots,Long Throws,Marking,Penalty Taking,Tackling,Technique
0,74044,0,46.0,NaN,AMC,NaN,1,178 CM,72 KG,NaN,...,45.0,35.0,35.0,30.0,35.0,40.0,40.0,25.0,45.0,50.0
1,83969,0,48.0,NaN,GK,NaN,1,185 CM,82 KG,55.0,...,NaN,NaN,35.0,NaN,NaN,NaN,NaN,15.0,NaN,55.0
2,94664,0,58.0,NaN,DL DC,NaN,0,185 CM,80 KG,NaN,...,40.0,30.0,15.0,65.0,35.0,50.0,55.0,55.0,70.0,45.0
3,46208,1,38.0,NaN,DC,NaN,1,185 CM,74 KG,NaN,...,15.0,10.0,20.0,70.0,10.0,35.0,70.0,20.0,55.0,10.0
4,77969,0,47.0,NaN,GK,NaN,1,193 CM,73 KG,35.0,...,NaN,NaN,40.0,NaN,NaN,NaN,NaN,15.0,NaN,15.0

In [498]:
train_data.drop('Potential', axis=1, inplace=True)

In [500]:
train_data.head()

,id,value_increased,Ability,Positions,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,...,Dribbling,Finishing,Free Kick Taking,Heading,Long Shots,Long Throws,Marking,Penalty Taking,Tackling,Technique
0,74044,0,46.0,AMC,NaN,1,178 CM,72 KG,NaN,NaN,...,45.0,35.0,35.0,30.0,35.0,40.0,40.0,25.0,45.0,50.0
1,83969,0,48.0,GK,NaN,1,185 CM,82 KG,55.0,60.0,...,NaN,NaN,35.0,NaN,NaN,NaN,NaN,15.0,NaN,55.0
2,94664,0,58.0,DL DC,NaN,0,185 CM,80 KG,NaN,NaN,...,40.0,30.0,15.0,65.0,35.0,50.0,55.0,55.0,70.0,45.0
3,46208,1,38.0,DC,NaN,1,185 CM,74 KG,NaN,NaN,...,15.0,10.0,20.0,70.0,10.0,35.0,70.0,20.0,55.0,10.0
4,77969,0,47.0,GK,NaN,1,193 CM,73 KG,35.0,40.0,...,NaN,NaN,40.0,NaN,NaN,NaN,NaN,15.0,NaN,15.0

In [502]:
# Positions sütunu için One-Hot Encoding
train_data = pd.get_dummies(train_data, columns=['Positions'], prefix='Pos')


print(train_data.head())

      id  value_increased  Ability Caps / Goals  Foot  Height Weight  \
0  74044                0     46.0          NaN     1  178 CM  72 KG
1  83969                0     48.0          NaN     1  185 CM  82 KG
2  94664                0     58.0          NaN     0  185 CM  80 KG
3  46208                1     38.0          NaN     1  185 CM  74 KG
4  77969                0     47.0          NaN     1  193 CM  73 KG

   Aerial Reach  Command of Area  Communication  ...  Pos_MR  Pos_MR AMR  \
0           NaN              NaN            NaN  ...   False       False
1          55.0             60.0           70.0  ...   False       False
2           NaN              NaN            NaN  ...   False       False
3           NaN              NaN            NaN  ...   False       False
4          35.0             40.0           35.0  ...   False       False

   Pos_MR AMR AML  Pos_MR ML  Pos_MR ML AMR AML  Pos_ST  Pos_WBL AMR AML  \
0           False      False              False   False            False
1           False      False              False   False            False
2           False      False              False   False            False
3           False      False              False   False            False
4           False      False              False   False            False

   Pos_WBL ML  Pos_WBR MR  Pos_WBR MR AMR
0       False       False           False
1       False       False           False
2       False       False           False
3       False       False           False
4       False       False           False

[5 rows x 106 columns]

In [504]:
# Verideki tüm True/False sütunlarını bulup sayısal değerlere dönüştürme
boolean_columns = train_data.select_dtypes(include=['bool']).columns
train_data[boolean_columns] = train_data[boolean_columns].astype(int)


print(train_data[boolean_columns].head())

   Pos_AMC  Pos_AMC ST  Pos_AML  Pos_AML AMC  Pos_AML AMC ST  Pos_AML ST  \
0        1           0        0            0               0           0
1        0           0        0            0               0           0
2        0           0        0            0               0           0
3        0           0        0            0               0           0
4        0           0        0            0               0           0

   Pos_AMR  Pos_AMR AMC  Pos_AMR AML  Pos_AMR AML AMC  ...  Pos_MR  \
0        0            0            0                0  ...       0
1        0            0            0                0  ...       0
2        0            0            0                0  ...       0
3        0            0            0                0  ...       0
4        0            0            0                0  ...       0

   Pos_MR AMR  Pos_MR AMR AML  Pos_MR ML  Pos_MR ML AMR AML  Pos_ST  \
0           0               0          0                  0       0
1           0               0          0                  0       0
2           0               0          0                  0       0
3           0               0          0                  0       0
4           0               0          0                  0       0

   Pos_WBL AMR AML  Pos_WBL ML  Pos_WBR MR  Pos_WBR MR AMR
0                0           0           0               0
1                0           0           0               0
2                0           0           0               0
3                0           0           0               0
4                0           0           0               0

[5 rows x 52 columns]

In [506]:
# Caps / Goals sütununda NaN değer varsa 0, diğer durumlar için 1 olacak
train_data['Caps / Goals'] = train_data['Caps / Goals'].apply(lambda x: 0 if pd.isna(x) else 1)


print(train_data['Caps / Goals'].head())

0    0
1    0
2    0
3    0
4    0
Name: Caps / Goals, dtype: int64

In [508]:
# 'Height' sütunundaki 'cm' ibaresini silme
train_data['Height'] = train_data['Height'].str.replace(' CM', '').astype(float)


print(train_data['Height'].head())

0    178.0
1    185.0
2    185.0
3    185.0
4    193.0
Name: Height, dtype: float64

In [510]:
# 'Weight' sütunundaki 'kg' ibaresini silme
train_data['Weight'] = train_data['Weight'].str.replace(' KG', '').astype(float)


print(train_data['Weight'].head())

0    72.0
1    82.0
2    80.0
3    74.0
4    73.0
Name: Weight, dtype: float64

In [512]:
train_data.describe()

,id,value_increased,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,...,Pos_MR,Pos_MR AMR,Pos_MR AMR AML,Pos_MR ML,Pos_MR ML AMR AML,Pos_ST,Pos_WBL AMR AML,Pos_WBL ML,Pos_WBR MR,Pos_WBR MR AMR
count,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000,32.000000,32.000000,32.00000,...,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000,465.000000
mean,55474.206452,0.150538,44.724731,0.034409,0.733333,180.903226,72.200000,57.500000,53.437500,50.15625,...,0.002151,0.010753,0.002151,0.002151,0.004301,0.126882,0.002151,0.004301,0.002151,0.004301
std,26644.428530,0.357983,16.136324,0.182473,0.442693,7.303259,7.892926,12.181424,13.406637,11.10684,...,0.046374,0.103247,0.046374,0.046374,0.065512,0.333199,0.046374,0.065512,0.046374,0.065512
min,10301.000000,0.000000,0.000000,0.000000,0.000000,158.000000,55.000000,30.000000,15.000000,30.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32399.000000,0.000000,39.000000,0.000000,0.000000,176.000000,67.000000,53.750000,48.750000,43.75000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,55236.000000,0.000000,48.000000,0.000000,1.000000,181.000000,72.000000,60.000000,55.000000,50.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,77172.000000,0.000000,55.000000,0.000000,1.000000,186.000000,78.000000,65.000000,61.250000,60.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,99912.000000,1.000000,80.000000,1.000000,1.000000,202.000000,97.000000,85.000000,75.000000,70.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [514]:
train_data.head()

,id,value_increased,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,...,Pos_MR,Pos_MR AMR,Pos_MR AMR AML,Pos_MR ML,Pos_MR ML AMR AML,Pos_ST,Pos_WBL AMR AML,Pos_WBL ML,Pos_WBR MR,Pos_WBR MR AMR
0,74044,0,46.0,0,1,178.0,72.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,83969,0,48.0,0,1,185.0,82.0,55.0,60.0,70.0,...,0,0,0,0,0,0,0,0,0,0
2,94664,0,58.0,0,0,185.0,80.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,46208,1,38.0,0,1,185.0,74.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,77969,0,47.0,0,1,193.0,73.0,35.0,40.0,35.0,...,0,0,0,0,0,0,0,0,0,0

In [516]:
#test_data.to_csv('veriTest.csv', index=True)

In [518]:
# Kaleci özellikleri olan sütunları 0 ile doldur
kaleci_ozellikleri = ['Aerial Reach', 'Command of Area', 'Communication', 'Eccentricity', 
                      'First Touch', 'Handling', 'Kicking', 'One on Ones', 'Passing', 
                      'Punching (Tendency)', 'Reflexes', 'Rushing Out (Tendency)', 'Throwing']

train_data[kaleci_ozellikleri] = train_data[kaleci_ozellikleri].fillna(0)

In [520]:
train_data.head()

,id,value_increased,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,...,Pos_MR,Pos_MR AMR,Pos_MR AMR AML,Pos_MR ML,Pos_MR ML AMR AML,Pos_ST,Pos_WBL AMR AML,Pos_WBL ML,Pos_WBR MR,Pos_WBR MR AMR
0,74044,0,46.0,0,1,178.0,72.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,83969,0,48.0,0,1,185.0,82.0,55.0,60.0,70.0,...,0,0,0,0,0,0,0,0,0,0
2,94664,0,58.0,0,0,185.0,80.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,46208,1,38.0,0,1,185.0,74.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,77969,0,47.0,0,1,193.0,73.0,35.0,40.0,35.0,...,0,0,0,0,0,0,0,0,0,0

In [570]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd

# 1. Veri Hazırlığı
X = train_data.drop(['id', 'value_increased'], axis=1)  # Özellikler
y = train_data['value_increased']  # Hedef değişken

# Eksik değer kontrolü
X.fillna(0, inplace=True)  # Eksik değerleri 0 ile doldur

# 2. Veri setini eğitim ve test setlerine ayırma
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Veriyi ölçekleme
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 4. ANN Modeli oluşturma
model = Sequential()
model.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))  # Binary classification için sigmoid

# 5. Modeli derleme
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# 6. Modeli eğitme
model.fit(X_train_scaled, y_train, epochs=20, batch_size=32)

# 7. Modelin doğruluğunu değerlendirme
train_loss, train_accuracy = model.evaluate(X_train_scaled, y_train, verbose=0)
test_loss, test_accuracy = model.evaluate(X_test_scaled, y_test, verbose=0)

print(f"Training Accuracy: {train_accuracy}")
print(f"Test Accuracy: {test_accuracy}")

Epoch 1/20

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.5998 - loss: 0.6556
Epoch 2/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 639us/step - accuracy: 0.8471 - loss: 0.4567
Epoch 3/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 660us/step - accuracy: 0.8401 - loss: 0.4211
Epoch 4/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - accuracy: 0.8294 - loss: 0.3942
Epoch 5/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.8315 - loss: 0.4034
Epoch 6/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - accuracy: 0.8097 - loss: 0.3838
Epoch 7/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.8413 - loss: 0.3647
Epoch 8/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.8399 - loss: 0.3355
Epoch 9/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.8566 - loss: 0.3192
Epoch 10/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.8650 - loss: 0.2995
Epoch 11/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - accuracy: 0.8785 - loss: 0.2955
Epoch 12/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - accuracy: 0.8778 - loss: 0.2737
Epoch 13/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 529us/step - accuracy: 0.8722 - loss: 0.2894
Epoch 14/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - accuracy: 0.8793 - loss: 0.2605
Epoch 15/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.8603 - loss: 0.2608
Epoch 16/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.9003 - loss: 0.2120
Epoch 17/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 573us/step - accuracy: 0.9044 - loss: 0.2126
Epoch 18/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.9244 - loss: 0.1978
Epoch 19/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.9247 - loss: 0.1998
Epoch 20/20
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - accuracy: 0.9376 - loss: 0.1800
Training Accuracy: 0.9462365508079529
Test Accuracy: 0.9462365508079529

In [572]:
from sklearn.metrics import f1_score

# 8. Tahmin işlemi (test seti üzerinde)
y_pred = model.predict(X_test_scaled)
y_pred_binary = [1 if pred >= 0.5 else 0 for pred in y_pred]  # 0.5 eşik değeri

# 9. F1 Skoru Hesaplama
f1 = f1_score(y_test, y_pred_binary)

# Sonuçları yazdırma
print(f"Training Accuracy: {train_accuracy}")
print(f"Test Accuracy: {test_accuracy}")
print(f"F1 Skoru: {f1}")

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step
Training Accuracy: 0.9462365508079529
Test Accuracy: 0.9462365508079529
F1 Skoru: 0.2857142857142857

In [574]:
# 'value_increased' sütunundaki 0 ve 1 değerlerinin sayısını yyazar
value_counts = train_data['value_increased'].value_counts()

print(f"0 değeri sayısı: {value_counts[0]}")
print(f"1 değeri sayısı: {value_counts[1]}")

0 değeri sayısı: 395
1 değeri sayısı: 70

In [578]:
# Caps / Goals sütununda NaN değer varsa 0, diğer durumlar için 1 olacak
test_data['Caps / Goals'] = test_data['Caps / Goals'].apply(lambda x: 0 if pd.isna(x) else 1)

print(test_data['Caps / Goals'].head())

0    1
1    1
2    1
3    1
4    1
Name: Caps / Goals, dtype: int64

In [580]:
test_data.drop('Potential', axis=1, inplace=True)

KeyError: "['Potential'] not found in axis"

In [582]:
# Positions sütunu için One-Hot Encoding
test_data = pd.get_dummies(test_data, columns=['Positions'], prefix='Pos')

KeyError: "None of [Index(['Positions'], dtype='object')] are in the [columns]"

In [584]:
print(test_data.head())

      id  Ability  Caps / Goals  Foot  Height  Weight  Aerial Reach  \
0  13436     40.0             1     1   165.0    60.0           0.0
1  49790     42.0             1     1   191.0    79.0           0.0
2  73335     40.0             1     0   182.0    74.0           0.0
3  15949     39.0             1     1   187.0    74.0          55.0
4  26364     38.0             1     0   179.0    67.0           0.0

   Command of Area  Communication  Eccentricity  ...  Pos_MC ML AML  \
0              0.0            0.0           0.0  ...              0
1              0.0            0.0           0.0  ...              0
2              0.0            0.0           0.0  ...              0
3             40.0           30.0          25.0  ...              0
4              0.0            0.0           0.0  ...              0

   Pos_MC MR  Pos_ML  Pos_ML AML  Pos_MR  Pos_MR AMR  Pos_MR ML AMR AML  \
0          0       0           0       0           0                  0
1          0       0           0       0           0                  0
2          0       0           0       0           0                  0
3          0       0           0       0           0                  0
4          0       0           0       0           0                  0

   Pos_ST  Pos_WBL  Pos_WBL AMR AML
0       0        0                0
1       0        0                0
2       0        0                0
3       0        0                0
4       0        0                0

[5 rows x 97 columns]

In [586]:
test_data.head()

,id,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,Eccentricity,...,Pos_MC ML AML,Pos_MC MR,Pos_ML,Pos_ML AML,Pos_MR,Pos_MR AMR,Pos_MR ML AMR AML,Pos_ST,Pos_WBL,Pos_WBL AMR AML
0,13436,40.0,1,1,165.0,60.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,49790,42.0,1,1,191.0,79.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,73335,40.0,1,0,182.0,74.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,15949,39.0,1,1,187.0,74.0,55.0,40.0,30.0,25.0,...,0,0,0,0,0,0,0,0,0,0
4,26364,38.0,1,0,179.0,67.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [588]:
# Verideki tüm True/False sütunlarını bulup sayısal değerlere dönüşür
boolean_columns = test_data.select_dtypes(include=['bool']).columns
test_data[boolean_columns] = test_data[boolean_columns].astype(int)


print(test_data[boolean_columns].head())

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [590]:
test_data.head()

,id,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,Eccentricity,...,Pos_MC ML AML,Pos_MC MR,Pos_ML,Pos_ML AML,Pos_MR,Pos_MR AMR,Pos_MR ML AMR AML,Pos_ST,Pos_WBL,Pos_WBL AMR AML
0,13436,40.0,1,1,165.0,60.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,49790,42.0,1,1,191.0,79.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,73335,40.0,1,0,182.0,74.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,15949,39.0,1,1,187.0,74.0,55.0,40.0,30.0,25.0,...,0,0,0,0,0,0,0,0,0,0
4,26364,38.0,1,0,179.0,67.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [592]:
# Kaleci özellikleri olan sütunları 0 ile dolar
kaleci_ozellikleri = ['Aerial Reach', 'Command of Area', 'Communication', 'Eccentricity', 
                      'First Touch', 'Handling', 'Kicking', 'One on Ones', 'Passing', 
                      'Punching (Tendency)', 'Reflexes', 'Rushing Out (Tendency)', 'Throwing']

test_data[kaleci_ozellikleri] = test_data[kaleci_ozellikleri].fillna(0)

In [594]:
test_data.head()

,id,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,Eccentricity,...,Pos_MC ML AML,Pos_MC MR,Pos_ML,Pos_ML AML,Pos_MR,Pos_MR AMR,Pos_MR ML AMR AML,Pos_ST,Pos_WBL,Pos_WBL AMR AML
0,13436,40.0,1,1,165.0,60.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,49790,42.0,1,1,191.0,79.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,73335,40.0,1,0,182.0,74.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,15949,39.0,1,1,187.0,74.0,55.0,40.0,30.0,25.0,...,0,0,0,0,0,0,0,0,0,0
4,26364,38.0,1,0,179.0,67.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [596]:
# 'Foot' sütununu sayısal değerlere dönüştürme (Right -> 1, Left -> 0)
test_data['Foot'] = test_data['Foot'].apply(lambda x: 1 if x == 'Right' else 0)

# Dönüştürdükten sonra veriyi kontrol edelim
print(test_data['Foot'].head())

0    0
1    0
2    0
3    0
4    0
Name: Foot, dtype: int64

In [598]:
test_data.head()

,id,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,Eccentricity,...,Pos_MC ML AML,Pos_MC MR,Pos_ML,Pos_ML AML,Pos_MR,Pos_MR AMR,Pos_MR ML AMR AML,Pos_ST,Pos_WBL,Pos_WBL AMR AML
0,13436,40.0,1,0,165.0,60.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,49790,42.0,1,0,191.0,79.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,73335,40.0,1,0,182.0,74.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,15949,39.0,1,0,187.0,74.0,55.0,40.0,30.0,25.0,...,0,0,0,0,0,0,0,0,0,0
4,26364,38.0,1,0,179.0,67.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [600]:
# Öncelikle 'Height' ve 'Weight' sütunlarının veri tiplerini kontrol edelim
print(test_data['Height'].dtype)
print(test_data['Weight'].dtype)

# Eğer sütunlar zaten sayısalsa, dönüştürme gerekmez. Eğer stringse temizleyelim
if test_data['Height'].dtype == 'object':
    test_data['Height'] = test_data['Height'].str.replace(' CM', '').astype(float)

if test_data['Weight'].dtype == 'object':
    test_data['Weight'] = test_data['Weight'].str.replace(' KG', '').astype(float)

# Sonrasında diğer işlemleri yapabiliriz.

float64
float64

In [602]:
test_data.head()

,id,Ability,Caps / Goals,Foot,Height,Weight,Aerial Reach,Command of Area,Communication,Eccentricity,...,Pos_MC ML AML,Pos_MC MR,Pos_ML,Pos_ML AML,Pos_MR,Pos_MR AMR,Pos_MR ML AMR AML,Pos_ST,Pos_WBL,Pos_WBL AMR AML
0,13436,40.0,1,0,165.0,60.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,49790,42.0,1,0,191.0,79.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,73335,40.0,1,0,182.0,74.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,15949,39.0,1,0,187.0,74.0,55.0,40.0,30.0,25.0,...,0,0,0,0,0,0,0,0,0,0
4,26364,38.0,1,0,179.0,67.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [604]:
# Eğitim verisinde kullanılan sütunları alalım
train_columns = X_train.columns

# Test verisinde eksik olan sütunları 0 ile dolduralım
for col in train_columns:
    if col not in X_veri_test.columns:
        X_veri_test[col] = 0

# Test verisinde fazla olan sütunları kaldıralım
X_veri_test = X_veri_test[train_columns]

# Veriyi ölçekleyelim (eğitim sırasında kullandığımız scaler ile)
X_veri_test_scaled = scaler.transform(X_veri_test)

# Model ile tahmin yapma
y_pred = model.predict(X_veri_test_scaled)

# Tahmin sonuçlarını True/False formatına çevirme (0.5 eşik değeri)
y_pred_binary = ['True' if pred >= 0.5 else 'False' for pred in y_pred]

# Sample submission dosyasındaki id'lere göre value_increased sütununu dolduralım
sample_submission['value_increased'] = y_pred_binary

# Dosyayı kaydedelim
output_file_path = 'sample_submission.csv'
sample_submission.to_csv(output_file_path, index=False)

print(f"Sample submission file with predictions saved to {output_file_path}.")

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step
Sample submission file with predictions saved to sample_submission.csv.